html, body {
    height: 100%;
    overflow: hidden;
}

.navegar{
    position: absolute;

    text-decoration: none;
    background-color: #869BD5;
    color: #131C35;
    font-size: 40px;
    border-radius: 100px;

    padding: 15px;
    bottom: 20px;
    right: 20px;
}