*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #1D2B53;
    font-family: 'Press Start 2P', monospace;

    display: flex;
    width: 100vw;
    height: 100vh;
}

main{
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
}

.panelTraducir{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    gap: 10px;
}

#text{
    font-family: 'Press Start 2P', monospace;
    height: 30px;
    padding: 5px;
}

#text:focus{
    outline: none;
}

.pContainer{
    grid-column: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #131C35;

    border: 5px solid #869BD5;
    border-radius: 10px;
    height: 40px;
}

.pContainer p{
    text-align: center;
    color: #ECEFF8;
}

.btn{
    background-color: #FF004D;
    color: white;
    border: none;
    height: 40px;
    width: 40px;
    font-size: 25px;
    box-shadow: 3px 3px 0 0px #868686;
}

.btn:active{
    transform: translate(5px,5px);
    box-shadow: 0px 0px 0 0px #868686;
}