#morse-btn {
    width: 120px;
    height: 120px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
  }
  
#morse-btn:active {
    transform: scale(0.95);
  }
  