*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    background-color: #1D2B53;
    font-family: 'Press Start 2P', monospace;

    display: flex;
    width: 100vw;
    height: 100vh;
}

main{
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
}

.contenedorBotones{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    gap: 20px;

    width: 100%;

    margin-bottom: 30px;
}

#morse-btn {
    background: #d60040;
    height: 200px;
}
#espacio{
    background: #fdd141;
    height: 200px;
}

#borrar{
    background: #63173e;
    height: 100px;
    
    grid-column: 1/3;
}

.btn{
    
    touch-action: manipulation;
    position: relative;

    cursor: pointer;
    user-select: none;

    border-radius: 20px;
    box-shadow: 0 10px 0 5px #868686;
    transform: translateY(-10px)

}

.btn:active{
    transform: translateY(0);
    box-shadow: 0px 0px 0 5px #868686;
}


.rojo{
    background: #FF004D;
}

.amarillo{
    background: #FAEF5D;
}
.morado{
    background: #7E2553;
}


.brillo{
    position: absolute;

    width: 100%;
    height: 90%;


    border-radius: 20px;
    top: 0;
}

.btn:active .brillo{
    width: 100%;
    height: 100%;
}

.output{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
}

.pContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #131C35;

    border: 5px solid #869BD5;
    border-radius: 10px;
    height: 40px;
}

.output p{
    text-align: center;
    color: #ECEFF8;
}